* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: rgb(216, 86, 86);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.container h1 {
    margin: 0.5rem;
    text-align: center;
}

.content {
    font-size: 28px;
    background-color: rgb(23, 23, 23);
    width: 360px;
    height: 180px;
    border-radius: 8px;
    margin: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 800ms;
    transform: translateX(-300%);
    box-shadow: 2px 8px 12px 1px rgba(0, 0, 0, 0.8);
}

.content:nth-of-type(even) {
    transform: translateX(300%);
}

.content.show {
    transform: translateX(0);
}