@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #611574;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 120px 60px;
  border: 4px solid rgb(208, 208, 208);
  border-radius: 18px;
}

.digits {
  display: flex;
  margin-top: 20px;
}

.digit {
  border: 2px #c6c6c6 solid;
  width: 90px;
  height: 120px;
  margin: 8px;
  background-color: transparent;
  border-radius: 8px;
  font-size: 32px;
  text-align: center;
  transition: 0.3s all ease-in;
  color: white;
box-shadow: 0 2px 8px rgba(55, 55, 55, 0.4);
}

.digit::-webkit-inner-spin-button,
.digit::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.digit:focus {
  outline: 0;
  scale: 1.05;
}

.info {
  margin-top: 40px;
  font-size: 14px;
  background-color: rgba(190, 60, 192, 0.396);
  padding: 6px;
  border-radius: 8px;
}