@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    overflow-x: hidden;
    background: rgb(42, 50, 55);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto Mono';
}

nav {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 8%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding-right: 20px;
    padding-left: 32px;
    z-index: 99;
    padding-inline: 6.8rem;
    box-shadow: 0px 5px 14px 0px #00000082;
}

.search {
    background-color: rgba(90, 90, 90, 0.763);
    color: white;
    border-radius: 6px;
    border: 0;
    padding: 12px;
    outline: 0;
    width: 20rem;
}

.search::placeholder {
    color: white;
}

.container {
    position: relative;
    margin-top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-box {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
    margin: 1rem;
}

.movie-box img {
    width: 100%;
}

.text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    padding: 0.5rem 1rem 1rem;
}

.movie-name {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 4px;
    max-width: 75%;
}

.movie-point {
    background-color: rgb(57, 85, 109);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-info {
    background-color: black;
    padding: 4px;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    transform: translateY(101%);
    transition: all 700ms;
}

.movie-box:hover .movie-info {
    transform: translateY(0);
}