@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    overflow-x: hidden;
    background: rgb(162, 36, 156);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono';
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.media-box {
    margin: 1rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 24px;
    font-weight: 600;
}

.counter {
    font-size: 32px;
    font-weight: 800;

}