@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    overflow-x: hidden;
    background: rgb(52, 158, 233);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Mono';
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    margin: 16px auto;
    font-weight: 600;
}

.cup {
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 40px 40px;
    height: 310px;
    width: 150px;
    border: 4px solid rgb(0, 88, 160);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 700ms;
}

.liters {
    font-weight: 900;
    font-size: 20px;
}

.percentage {
    font-weight: 900;
    font-size: 24px;
    background-color: rgb(14, 144, 238);
    width: 100%;
    text-align: center;
    height: 0;
    transition: all 700ms ease-in;
}

.remained {
    color: rgb(0, 88, 160);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    font-weight: 700;
    transition: all 500ms;
}

.text {
    margin: 16px auto;
}

.cups {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.small-cups {
    border-radius: 0 0 15px 15px;
    height: 95px;
    width: 60px;
    margin: 4px 8px;
    color: rgb(0, 88, 160);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    transition: all 400ms ease-in;
}

.full {
    background-color: rgb(14, 144, 238);
    color: white;
}